extends layout

block content
    // Wrapper
    #wrapper

        // Access Log
        h2 Access Log
        #accessLog
            table
                thead
                    th IP
                    th Time
                tbody
        // /Access Log

    // /WRAPPER
    .modal